body {
    background-color: #16365c;
    color: white;
    height: 100vh
}
::-webkit-scrollbar {
    display: none;
}
p, td {
    color: white;
}

h1, h2, button, a {
    color: #e26b0a
}
a:hover {
    color: white;
}
h4 {
    white-space: nowrap;
}
hr.orange {
    border-top: 1px solid #e26b0a;
}

hr.white {
    border-top: 1px solid white;
}

.survivor {
    height: 2rem;
}

.item {
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4rem;
    max-height: 4rem;
}